In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [3]:
df.duplicated().sum()

np.int64(25324)

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
##  missing value checking  
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [7]:
df['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [8]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4} 
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [9]:
# for ownership in df['owner']:
#     print(dt[ownership])

df['owner'] = df['owner'].map(dt)

In [10]:
df['brand'].nunique()

23

In [11]:
brand_ls = list(df['brand'].value_counts().head(16).keys())
brand_ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [12]:
df2 = df[df['brand'].isin(brand_ls)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [13]:
data_dic = {}
i = 1
for brand in list(df2['brand'].value_counts().keys()): 
    data_dic[brand] = i 
    i = i + 1
data_dic

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

In [14]:
brand_dict  = {brand:i for i , brand in enumerate(list(df2['brand'].value_counts().keys()),start=1)}
print(brand_dict)
df2['brand'] = df2['brand'].map(brand_dict)  
# single time

{'Bajaj': 1, 'Royal Enfield': 2, 'Hero': 3, 'Honda': 4, 'Yamaha': 5, 'TVS': 6, 'KTM': 7, 'Suzuki': 8, 'Harley-Davidson': 9, 'Kawasaki': 10, 'Hyosung': 11, 'Mahindra': 12, 'Benelli': 13, 'Triumph': 14, 'Ducati': 15, 'BMW': 16}

C:\Users\kumar\AppData\Local\Temp\ipykernel_14912\3200332288.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand'] = df2['brand'].map(brand_dict)

In [15]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [16]:
data_dic = {}
for i,item in enumerate(brand_ls,start=1): 
    data_dic[item]  = i  

data_dic

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

In [17]:
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5

In [18]:
df2.drop(['bike_name','city'],axis=1,inplace=True)

C:\Users\kumar\AppData\Local\Temp\ipykernel_14912\1642961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis=1,inplace=True)

In [19]:
df2.head(2)

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2

In [20]:
x = df2.drop('price',axis=1)
y = df2[['price']]

In [21]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split 
# scikit-learn

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)  # 80% training size

In [24]:
from sklearn.linear_model import LinearRegression   # algorithm import

In [25]:
lnr = LinearRegression()

In [26]:
lnr.fit(x_train,y_train)

LinearRegression()

In [27]:
x_train.shape

(5845, 5)

In [28]:
x_train.isnull().sum()

kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [29]:
x_train   # valueerror

      kms_driven  owner   age  power  brand
1476     33000.0      1   6.0  220.0      1
6605     15711.0      1   8.0  100.0      3
8460     20102.0      1  16.0  100.0      3
3257     14244.0      1   7.0  100.0      3
6868     45000.0      1   6.0  100.0      3
...          ...    ...   ...    ...    ...
8556      8347.0      1   4.0  200.0      1
7669     13000.0      1   4.0  160.0      4
2901     36000.0      1   6.0  100.0      3
9318     77596.0      1   8.0  150.0      5
7944     51320.0      1   9.0  100.0      3

[5845 rows x 5 columns]

In [30]:
lnr.score(x_train,y_train)*100    # 75% scored

73.09607857573094

In [31]:
# unseen data or test data or validation data (x_test,y_test)
lnr.score(x_test,y_test)* 100

77.89781740125596

In [32]:
## prediction 
prediction = lnr.predict(x_test)

In [33]:
y_test['prediction'] = prediction

In [34]:
y_test.head(40)

         price     prediction
1396  265000.0  307223.531512
5248  179000.0  220981.755956
4721   18000.0   26621.242237
3863  110000.0  140991.678946
3233   75500.0  134159.006699
7946   18000.0    9545.799768
8231   14200.0   -7494.046899
5858   18000.0   31445.370498
3939   33000.0   -3663.026356
7528  138000.0  158277.029568
3344   63823.0   96515.816522
5705  107000.0  217778.332686
3145  120000.0  214751.776714
8515   31160.0   62894.495792
5578   93500.0   64549.346440
1159   98000.0  213018.477193
7756   46000.0   53455.494172
4849   75000.0   66288.999156
8009   68700.0  122775.250351
7930   82000.0   45072.564793
5178  155000.0  153861.287731
9177   20000.0   -5634.815095
9003   35000.0   38972.372479
6330   33000.0   24060.645745
1753   25100.0    9476.740689
4655  194000.0  226087.557191
1387   41300.0   13778.887905
3038   20000.0   57855.489657
2595   16000.0  -14734.794109
3922   26000.0   53722.856881
984    30000.0   12949.002252
1518   35000.0  140176.095621
5555   53200.0   23372.532189
2409   33000.0   41751.314233
8606  250430.0  229199.009465
4347   52000.0   67121.973383
5020   32000.0   47141.555132
678    45000.0   16338.514210
6702   10414.0  -12158.372527
4245   32000.0   15920.499684